 .u-section-1 {
  background-image: url("images/35c23eeb3d5ee65f28a51ea71312fa5c75700e904f7c85348668ebfaae957ca4e095b3c2a0dda633ebe3f625af28c13c806d5624d49002f1470363_1280-20.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1463px;
}

.u-section-1 .u-group-1 {
  width: 834px;
  min-height: 180px;
  height: auto;
  margin: 23px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-1 {
  margin: 3px 75px 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-size: 1.5rem;
  margin: -26px auto 0 263px;
  padding: 0;
}

.u-section-1 .u-products-1 {
  margin-top: 25px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(50% - 14px) calc(50% - 14px);
  grid-gap: 28px 28px;
  min-height: 1165px;
}

.u-section-1 .u-repeater-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 20px 0 0;
}

.u-section-1 .u-group-2 {
  min-height: 287px;
  width: 273px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 37px 12px 0 60px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 25px 0 0 60px;
}

.u-section-1 .u-image-1 {
  width: 301px;
  height: 199px;
  margin: -243px auto 0 0;
}

.u-section-1 .u-repeater-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 20px 0 0;
}

.u-section-1 .u-group-3 {
  min-height: 287px;
  width: 273px;
  background-size: auto;
  margin: 0 0 0 auto;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 0;
}

.u-section-1 .u-text-4 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 37px 12px 0 60px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: 25px 0 0 60px;
}

.u-section-1 .u-image-2 {
  width: 301px;
  height: 199px;
  margin: -243px auto 0 0;
}

.u-section-1 .u-repeater-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-6 {
  padding: 0 20px 0 0;
}

.u-section-1 .u-group-4 {
  min-height: 287px;
  width: 273px;
  background-size: auto;
  margin: 0 0 0 auto;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px 0;
}

.u-section-1 .u-text-6 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 37px 12px 0 60px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  margin: 25px 0 0 60px;
}

.u-section-1 .u-image-3 {
  width: 301px;
  height: 199px;
  margin: -243px auto 0 0;
}

.u-section-1 .u-repeater-item-4 {
  background-image: none;
}

.u-section-1 .u-container-layout-8 {
  padding: 0 20px 0 0;
}

.u-section-1 .u-group-5 {
  min-height: 287px;
  width: 273px;
  background-size: auto;
  margin: 0 0 0 auto;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px 0;
}

.u-section-1 .u-text-8 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 37px 12px 0 60px;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  margin: 25px 0 0 60px;
}

.u-section-1 .u-image-4 {
  width: 301px;
  height: 199px;
  margin: -243px auto 0 0;
}

.u-section-1 .u-repeater-item-5 {
  background-image: none;
}

.u-section-1 .u-container-layout-10 {
  padding: 0 20px 0 0;
}

.u-section-1 .u-group-6 {
  min-height: 287px;
  width: 273px;
  background-size: auto;
  margin: 0 0 0 auto;
}

.u-section-1 .u-container-layout-11 {
  padding: 30px 0;
}

.u-section-1 .u-text-10 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 37px 12px 0 60px;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  margin: 25px 0 0 60px;
}

.u-section-1 .u-image-5 {
  width: 301px;
  height: 199px;
  margin: -243px auto 0 0;
}

.u-section-1 .u-repeater-item-6 {
  background-image: none;
}

.u-section-1 .u-container-layout-12 {
  padding: 0 20px 0 0;
}

.u-section-1 .u-group-7 {
  min-height: 287px;
  width: 273px;
  background-size: auto;
  margin: 0 0 0 auto;
}

.u-section-1 .u-container-layout-13 {
  padding: 30px 0;
}

.u-section-1 .u-text-12 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 37px 12px 0 60px;
}

.u-section-1 .u-text-13 {
  font-weight: 700;
  margin: 25px 0 0 60px;
}

.u-section-1 .u-image-6 {
  width: 301px;
  height: 199px;
  margin: -243px auto 0 0;
}

.u-section-1 .u-repeater-item-7 {
  background-image: none;
}

.u-section-1 .u-container-layout-14 {
  padding: 0 20px 0 0;
}

.u-section-1 .u-group-8 {
  min-height: 287px;
  width: 273px;
  background-size: auto;
  margin: 0 0 0 auto;
}

.u-section-1 .u-container-layout-15 {
  padding: 30px 0;
}

.u-section-1 .u-text-14 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 37px 12px 0 60px;
}

.u-section-1 .u-text-15 {
  font-weight: 700;
  margin: 25px 0 0 60px;
}

.u-section-1 .u-image-7 {
  width: 301px;
  height: 199px;
  margin: -243px auto 0 0;
}

.u-section-1 .u-repeater-item-8 {
  background-image: none;
}

.u-section-1 .u-container-layout-16 {
  padding: 0 20px 0 0;
}

.u-section-1 .u-group-9 {
  min-height: 287px;
  width: 273px;
  background-size: auto;
  margin: 0 0 0 auto;
}

.u-section-1 .u-container-layout-17 {
  padding: 30px 0;
}

.u-section-1 .u-text-16 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 37px 12px 0 60px;
}

.u-section-1 .u-text-17 {
  font-weight: 700;
  margin: 25px 0 0 60px;
}

.u-section-1 .u-image-8 {
  width: 301px;
  height: 199px;
  margin: -243px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1433px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 960px;
  }

  .u-section-1 .u-text-2 {
    width: 201px;
  }

  .u-section-1 .u-text-4 {
    width: 201px;
  }

  .u-section-1 .u-text-6 {
    width: 201px;
  }

  .u-section-1 .u-text-8 {
    width: 201px;
  }

  .u-section-1 .u-text-10 {
    width: 201px;
  }

  .u-section-1 .u-text-12 {
    width: 201px;
  }

  .u-section-1 .u-text-14 {
    width: 201px;
  }

  .u-section-1 .u-text-16 {
    width: 201px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 149px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 28px;
    padding-bottom: 28px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-right: 0;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 28px;
    padding-bottom: 28px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-right: 0;
  }

  .u-section-1 .u-container-layout-7 {
    padding-top: 28px;
    padding-bottom: 28px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-right: 0;
  }

  .u-section-1 .u-container-layout-9 {
    padding-top: 28px;
    padding-bottom: 28px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-right: 0;
  }

  .u-section-1 .u-container-layout-11 {
    padding-top: 28px;
    padding-bottom: 28px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-right: 0;
  }

  .u-section-1 .u-container-layout-13 {
    padding-top: 28px;
    padding-bottom: 28px;
  }

  .u-section-1 .u-container-layout-14 {
    padding-right: 0;
  }

  .u-section-1 .u-container-layout-15 {
    padding-top: 28px;
    padding-bottom: 28px;
  }

  .u-section-1 .u-container-layout-16 {
    padding-right: 0;
  }

  .u-section-1 .u-container-layout-17 {
    padding-top: 28px;
    padding-bottom: 28px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}